@import 'variables';
@import 'jeet';
// @include edit ();
@import 'vendor/breakpoint/breakpoint';
@import 'columns';

header {
  width: 80%;
  height: 12rem;
  background-image: url(https://images.unsplash.com/photo-1438755582627-221038b62986?q=80&fm=jpg&s=ce1a984f1ac11887a5d5569ebbce53fb);
}
nav {
  width: 20%;
  position: fixed;
  right: 0;
  background-color: $color-main;
  height: 100vh;
  text-align: center;
  img {
    width: 96%;
    padding-bottom: 2rem;
  }
}
.nav-link {
  padding: 1rem 0;
  &:hover {
    background: lighten($color-main, 10%);
  }
  &:active {
    background: $color-light;
  }
  a {
    text-decoration: none;
    color: $color-light;
  }
}
.active {
  background: $color-light;
  a {
    color: $color-main;
  }
}
.container {
  float: left;
  width: 80%;
  background-color: $color-light;
}
.content {
  @include center($small);
  margin-top: 3rem;
}
h1 {
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  color: $color-main;
}
p {
  font-family: $font-body;
  font-size: .9rem;
  padding: 1rem;
  line-height: 1.2rem;
}
.separator {
  height: .5rem;
  background-color: darken($color-light, 10%);
  width: 100%;
  margin: 3rem 0 2.5rem 0;
}
footer {
  height: 5rem;
  background-color: $color-secondary;
}
