//COLOR PALETTE
$color-main: #21885E;
$color-secondary: #002400;
$color-dark: #666;
$color-light: whitesmoke;
$color-third: #E95C41;
$color-fourth: #752D07;

//TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Lato:300,400,700);
$font-heading: 'Ubuntu', sans-serif;
$font-body: 'Lato', sans-serif;
$font-xlarge: 4rem;
$font-large: 2rem;
$font-medium: 1rem;
$font-small: .85rem;
$font-xsmall: .7rem;

//SIZES
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 736px;
$xsmall: 480px;

//BREAKPOINT SIZES (MEDIA QUERIES)
$xlarge-max: max-width 1680px;
$large-max: max-width 1280px;
$medium-max: max-width 980px;
$small-max: max-width 736px;
$xsmall-max: max-width 480px;

//BUTTONS
.button-1 {
  padding: .9rem .65rem .65rem .65rem;
  border: .18rem solid $color-light;
  border-radius: .5rem;
  text-transform: uppercase;
  color: $color-light;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  cursor: pointer;
    &:hover {
      background: rgba($color-light,0.2)
    }
}
.button-2 {
  padding: .9rem .65rem .65rem .65rem;
  border: .18rem solid $color-dark;
  border-radius: .5rem;
  text-transform: uppercase;
  color: $color-dark;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  cursor: pointer;
    &:hover {
      background: rgba($color-dark,0.2)
    }
}
